@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: #ebebeb;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 0 5px gray;
}

nav .nav-btn {
  display: flex;
  gap: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

nav ul li .active {
  font-weight: bold;
  color: black;
}

nav button {
  background: black;
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
}

nav button a {
  color: white;
  text-decoration: none;
}

/*======  container  ========= */

.container {
  padding: 0 40px;
}

h2 {
  text-align: center;
  padding: 20px;
}

.container .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.container .info img {
  width: 100%;
}

.container .info-detail p {
  font-size: 16px;
  padding: 5px;
}
.container .info-detail .title {
  font-weight: 600;
  font-size: 18px;
}

.container .info-detail i {
  margin-right: 10px;
  width: 30px;
}

.container .info-detail .duration {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .info-detail .skills {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.container .info-detail .technologies {
  margin-top: 50px;
}

.container .paragraph {
  margin-top: 20px;
  text-align: justify;
}

.container .section.back-section {
  z-index: 1;
}
.container .section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

/* ======= Hamburger Menu========== */

.hamburger-menu {
  display: none;
}

.open-hamburger-menu {
  display: none;
  background: lightgray;
}

.open-hamburger-menu ul {
  text-align: center;
  padding: 5px 0;
}

.open-hamburger-menu li a {
  color: white;
}

.open-hamburger-menu li.active {
  background-color: gray;
  font-weight: bold;
}

@media (max-width: 480px) {
  .container .info {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .container .info-detail .technologies {
    margin-top: 20px;
  }

  .hamburger-menu {
    display: block;
  }
  nav ul li,
  nav button {
    display: none;
  }
}

@media (max-width: 900px) {
  .container .info {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .container .info-detail .technologies {
    margin-top: 20px;
  }
}
