@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

nav {
  background-color: #ebebeb;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 0 10px gray;
}

nav .nav-btn {
  display: flex;
  gap: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

nav ul li .active {
  font-weight: bold;
  color: black;
}
nav button {
  background: black;
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
}

nav button a {
  color: white;
  text-decoration: none;
}

/*  =============form============== */
.form-container {
  padding: 20px;
}
form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebebeb;
  box-shadow: 0 2px 5px black;
}

form input,
select,
textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;

  border-color: #ebebeb;
}

form textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

form input:focus {
  border-color: red;
}

form .input {
  margin-top: 5px;
}

form button {
  margin-top: 20px;
  padding: 8px 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
}

form .btn-submit {
  display: flex;
  justify-content: end;
}

form h2 {
  text-align: center;
}

select {
  font-size: 15px;
}

/* ======= Hamburger Menu========== */

.hamburger-menu {
  display: none;
}

.open-hamburger-menu {
  display: none;
  background: lightgray;
}

.open-hamburger-menu ul {
  text-align: center;
  padding: 5px 0;
}

.open-hamburger-menu li a {
  color: white;
}

.open-hamburger-menu li.active {
  background-color: gray;
  font-weight: bold;
}

@media (max-width: 480px) {
  nav {
    padding: 0 20px;
  }

  .hamburger-menu {
    display: block;
  }
  nav ul li,
  nav button {
    display: none;
  }
}

@media (max-width: 768px) {
  form {
    width: 85%;
    margin: 20px auto;
  }
}
