@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

label,
p {
  font-size: 13px;
}

/* ============= Nav =================== */
nav {
  background-color: #ebebeb;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 0 10px gray;
}

nav .nav-btn {
  display: flex;
  gap: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li .active {
  color: black;
  font-weight: bold;
}

nav button {
  background: black;
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
}

nav button a {
  color: white;
  text-decoration: none;
}
/* ============= MyProjects ============== */
.container {
  margin-top: 20px;
}
.container h1 {
  text-align: center;
  font-size: 25px;
}

form {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 10px;
}

.container .form {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.container .form .input {
  padding: 10px 0;
  width: 100%;
}

.container .input label {
  font-weight: bold;
}
.container .input input {
  height: 40px;
}
.container .input input,
textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  border: 1px solid gray;
}

.container .input textarea {
  height: 200px;
  padding: 5px;
}

.container .input-date {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.container .form .technologies p,
.upload p {
  font-weight: bold;
  margin-top: 10px;
}
.container .form .technologies .tech {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.container .form .technologies .tech input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.container .form .upload .upload-image {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: space-between;
  background: white;
}

.container .form .upload .upload-image .attach-title {
  background: gray;
  padding: 8px 20px;
  border-radius: 5px;
  color: #ebebeb;
}
.container .form .upload .upload-image .attach-icon {
  margin-right: 20px;
}

.container .form .btn-submit {
  display: flex;
  justify-content: end;
}

.container .form .btn-submit button {
  margin-top: 20px;
  padding: 5px 30px;
  border-radius: 50px;
  background: black;
  color: white;
}

.container .file-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

/* =================== my-project ================== */

.my-project {
  background-color: #ebebeb;
  padding: 30px 60px;
}
.my-project h1 {
  margin: 20px 0;
}

.my-project .img-cover {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.my-project .card {
  width: 300px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 2px 5px gray;
  max-height: 500px;
}

.my-project .card .title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.my-project .card .duration {
  font-size: 12px;
  font-weight: 100;
  margin-top: 5px;
  color: gray;
}

.my-project .card .description {
  margin-top: 5px;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.my-project .card .icons img {
  width: 20px;
}
.my-project .card .icons {
  display: flex;
  margin-top: 5px;
  gap: 10px;
}

.my-project .card .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.my-project .card .btn-group button {
  margin-top: 20px;
  padding: 5px 30px;
  border-radius: 10px;
  background: black;
  color: white;
  width: 100%;
}

.my-project .blog-post {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.my-project #post {
  cursor: pointer;
}

/*  Hamburger Menu */
.hamburger-menu {
  display: none;
}

.open-hamburger-menu {
  display: none;
  background: lightgray;
}

.open-hamburger-menu ul {
  text-align: center;
  padding: 5px 0;
}

.open-hamburger-menu li a {
  color: white;
}

.open-hamburger-menu li.active {
  background-color: gray;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  form {
    padding: 10px;
    background-color: white;
  }

  h1 {
    font-size: 20px;
  }
  nav {
    padding: 0 20px;
  }

  .hamburger-menu {
    display: block;
  }
  nav ul li,
  nav button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .my-project .card {
    width: 250px;
  }
}

@media only screen and (max-width: 900px) {
  .container .form {
    width: 90vw;
    margin: 5px auto;
    padding: 0;
  }

  .my-project {
    padding: 10px;
  }
  .my-project .blog-post {
    justify-content: center;
    gap: 10px;
  }

  .my-project .card {
    width: 300px;
  }
}
