@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: #ebebeb;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 0 10px gray;
}

nav .nav-btn {
  display: flex;
  gap: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

nav ul li .active {
  font-weight: bold;
  color: black;
}

nav button {
  background: black;
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
}

nav button a {
  color: white;
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.container .card {
  width: 70vw;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 70px auto;
  background: whitesmoke;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 20px 20px;
  gap: 20px;
  box-shadow: 0 2px 5px gray;
}

.container .card-img {
  transition: all 0.3s ease;
}
.container .card-info p {
  text-align: justify;
}

.container .button {
  margin-top: 20px;
}

.container .card-info .contact {
  text-decoration: none;
  background-color: black;
  width: 100%;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
}

.container .card-info .download-cv {
  background-color: transparent;
  color: black;
  margin-left: 10px;
}

.container .social-media {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.container .social-media a {
  color: black;
  transition: 0.3s ease;
}
.container .social-media a:hover {
  transform: scale(1.1);
}

.container .card-img:hover {
  transform: scale(1.1);
}

.container .card-img {
  border: 1px solid gray;
  border-radius: 20px;
  padding-bottom: 20px;
}
.container .card-img img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.container .card-img h2,
p {
  text-align: center;
}

/* ======= Hamburger Menu========== */

.hamburger-menu {
  display: none;
}

.open-hamburger-menu {
  display: none;
  background: lightgray;
}

.open-hamburger-menu ul {
  text-align: center;
  padding: 5px 0;
}

.open-hamburger-menu li a {
  color: white;
}

.open-hamburger-menu li.active {
  background-color: gray;
  font-weight: bold;
}

@media (max-width: 480px) {
  .hamburger-menu {
    display: block;
  }
  nav ul li,
  nav button {
    display: none;
  }
  .container .card {
    grid-template-columns: 1fr;
    border: none;
    box-shadow: none;
    width: 80vw;
    background-color: white;
    margin: 0 auto;
  }

  .social-media {
    justify-content: center;
  }

  nav {
    padding: 0 15px;
  }
}

@media (max-width: 900px) {
  .container .card {
    grid-template-columns: 1fr;
    background-color: white;
    border: none;
    box-shadow: none;
    width: 80vw;
  }
}
